html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #79A1DB;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-conteiner {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20vw;
    z-index: 1000;
}

h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #79A1DB;
}

.login-input {
    color: #626262;
    margin-bottom: 20px;
}

.login-input label {
    display: block;
    margin-bottom: 5px;
}

.login-input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #79A1DB;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
